.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url('../../public/backgrounds/food-background.png');
    background-repeat: repeat;
    background-size: 350px;
    background-position: top left;
    background-color: #D9D9D9;
}


.header {
    color: black;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-size: 40px;
    font-weight: 670;
    line-height: 40px;
    margin-bottom: 48px;
    margin-top: 0;

}

.formContainer {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.15);
    padding: 60px;
    max-width: 55%;
    min-height:100%;
    width: 100%;
}

.label {
    display: block;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.input {
    width: 60%;
    padding: 10px;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
    padding-bottom:30px;
}

.submitButton {
    margin-top:40px;
    width: 100%;
    padding: 12px;
    background-color: #6C4AB6;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.errors {
    color: red;
    padding-bottom: 10px;
}

.confirmation_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    zIndex: 50,
}

.confirmation_container{
    background-color: white;
    border-radius: 8px;
    padding: 40px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.success_header{
    color: green;
    text-align: center;
    text-shadow: 0 4px 4px rgba(0,0,0,.25);
    font-size: 30px;
    font-weight: 670;
    line-height: 40px;
    margin-bottom: 48px;
    margin-top: 0;

}

.success {
    font-size: 2px;
    color: #22c55e;
}
.success_message{
    color: #757575;
    font-size:14px;
    line-height: 20px;
    padding-bottomm: 24px;
}
.item_display_container{
    background-color: #F3F4F6;
    border-radius: 4px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: left;
}
.item_display_text{
    margin:8px 0;
    color: #000;
    font-size: 13px;
}
.close_button{
    width: 100%;
    padding: 12px;
    background-color: #6C4AB6;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}